<div class="mx-auto p-4 max-w-6xl">
  <h1 class="mb-4 text-4xl font-bold border-b"> <%= @note.title %> </h1>
  <h1 class="mb-4 text-xl font-semibold"> <%= @note.subtitle %> </h1>
  <div> <%= @note.content %> </div>
</div>
